body {
  font-family: "Bitter", Georgia, Times, sans-serif;
}

h1 {
  margin: 2em;
}

.container{
  margin-bottom: 6rem;
}

.pswp__caption__center {
  text-align: center;
}

figure {
  float: left;
  display: inline-block;
  width: 33.333%;
}

img {
  width: 100%;
}

.spacer {
  height: 5em;
}
